/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



body {
	background-color: black;
}

.contents {
	position: relative;
	height: 100%;
    min-height: 450px;
	width: 475px;
	border: 5px dotted cyan;
	border-radius: 10px;
	background-size: 140%;
	padding-top: 10px;
	text-align: center;
	margin: 0 auto;
	margin-top: -16px;
    margin-bottom: 50px;
	color: white;
	font-family: Tahoma, serif;
	font-size: 14px;
}

.title {
	position: relative;
    font-size: 350%;
	background-color: black;
	color: white;
    letter-spacing: -3px;
	font-family: Tahoma, Arial;
	font-weight: bold;
    z-index: 100; 
    margin-left: 25px;
}

#addbutton {
	display: inline-block;
    position: absolute;
	margin: 0 auto;
    margin-left: 5px;
	padding: 5px;
	background-color: black;
	color: cyan;
	border: solid 1px white;
	height: 40px;
	width: 40px;
    font-size: 150%;
    border-radius: 5px;
    font-weight: bolder; 
    cursor: pointer;
}

#addbutton:focus {
    border: 1px solid cyan;
    outline:0 !important;
}


#removeall {
	display: inline=block;
	margin: 0 auto;
	padding: 5px;
	background-color: black;
	color: white;
	height: 35px;
	width: 150px;
	font-family: Tahoma, Arial;
	font-size: 12px;
    border-radius: 5px;
    margin-top: 5px;
    border: 1px solid white;
    cursor: pointer;
}

#removeall:focus {
    border: 1px solid cyan;
    outline:0 !important;
}

#container {
	width: 500px;
	margin: 0 auto;
	margin-top: 100px;
}

#itementer {
    position: relative;
    height: 25px;
    width: 200px;
    font-size: 12px;
    background-color: black;
    color: white;
    padding: 5px;
    border: 2px solid white;
    border-radius: 2px;
    margin-left: -30px;
}

#itementer:focus {
    border: 2px solid cyan;
    outline:0 !important;
}

li {
	display: block;
	margin: 0 auto;
	height: 10px;
	width: 275px;
	font-family: Tahoma, Arial;
	font-size: 14px;
	padding: 10px;
	color: black;
	background-color: #FF0066;
	border: 2px dashed black;
	font-weight: bold;
    cursor: pointer;
}


li.click {
	background: #00FF99;
	border: 2px dashed black;
}


#rmv {
	display: block;
	color: white;
	position: absolute;
    margin-top: -15px;
	margin-left: 285px;
	font-weight: bold;
	font-size: 200%;
	font-family: Arial;
	padding: 5px;
    cursor: pointer;
}


.color {
	color: #00FF99;
}