/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background-color: black;


}

.container {
	display: block;
	position: relative;
	height: 450px;
	width: 400px;
	border: 2px solid #FF99CC;
	border-radius: 8px;
	box-sizing: padding-box;
	background-size: 140%;
	padding: 50px 10px 10px 10px;
	text-align: center;
	margin: 0 auto;
	color: white;
	font-family: Tahoma, serif;
	font-size: 13px;
	overflow-y: scroll;
}

.title {
	font-size: 150%;
	color: white;
	font-family: Tahoma, Arial;
	font-weight: bold;
	padding: 15px;
	background-color: black;
}

.block {
	position: fixed;
	border: 5px solid #FF99CC;
	height: 50px;
	width: 225px;
	background-color: black;
	color: white;
	font-family: Tahoma, Arial;
	margin: -25px 0px 0px 50px;
	z-index: 1000;
}

#addbutton {
	display: block-inline;
	margin-left: 10px;
	padding: 5px;
	background-color: black;
	color: #FF99CC;
	border: solid 1px white;
	height: 25px;
	width: 25px;
}

.container0 {
	width:400px;
	margin: 0 auto;
	margin-top: 100px;
}

li {
	display: block;
	margin: 0 auto;
	height: 10px;
	width: 275px;
	font-family: Tahoma, Arial;
	font-size: 14px;
	padding: 10px;
	color: black;
	background-color: #FF0066;
	border: 2px dashed black;
	font-weight: bold;
	

}


li.click {
	background: #00FF99;
	border: 2px dashed black;
}


#x {
	display: inline-block;
	color: white;
	position: absolute;
	margin-left: 140px;
	height: 30px;
	width: 30px;
	font-weight: bold;
	font-size: 200%;
	font-family: Arial;
	padding: 5px;
}


.color {
	color: #00FF99;
}